<!-- Badges Section -->
<section id="badges">
  <div class="container">
    <div class="section-title-container text-center">
      <h1 class="section-title">Badges</h1>
    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-4">
        {% image 'lover.png' class:img-responsive %}
      </div>
      <div class="col-md-5 def-text">

        Badges são crachás, itens coleccionáveis que vais poder ganhar durante a semana. Tudo o que se faz na SEI dá direito a um. Falar com o orador, participar num desafio, conhecer uma empresa, tudo! Até mesmo comer bolinhos!<br><br>
        Mais badges = mais prémios. Já para não falar do sorteio de uma PS4...<br><br>
        A título de exemplo, deixamos-te aqui o badge que na edição passada premiou os participantes que se revelaram mais amantes da SEI.


      </div>
    </div>
  </div>
</section>

