<section id="gold">
  <div class="container">
    <div class="section-title-container">
      <h1 class="section-title">Gold Sponsor</h1>
    </div>
    <div class="row">
    	<div class="col-md-3 wide-logo vcenter">
			<a target="_blank" href="https://www.xpand-it.com"> {% image sponsors/xpandit-logo-white.png class:'hcenter img-responsive' %} </a>
		</div>
		<div class="col-md-3 wide-logo vcenter">
			<a target="_blank" href="http://ww1.wedotechnologies.com"> {% image sponsors/wedo-logo.png class:'hcenter img-responsive' %} </a>
		</div>
		<div class="col-md-3 wide-logo vcenter">
			<a target="_blank" href="http://www.aptiv.com/"> {% image sponsors/aptiv-logo.png class:'hcenter img-responsive' %} </a>
		</div>
  </div>
</section>
