<section id="partners">
  <div class="container">

    <div class="section-title-container">
      <h1 class="section-title">Parceiros</h1>
    </div>

    <div class="col-md-offset-3 col-md-6 partners-carousel">
      <div class="narrow-logo-delta">
          <a target="_blank" href="http://www.deltacafes.pt">{% image sponsors/delta.png class:'center-block img-responsive partner' alt:'Delta-logo'%}</a>
      </div>
      <div class="wide-logo">
        <a target="_blank" href="https://www.cp.pt/">{% image sponsors/cp-logo.png class:'center-block img-responsive partner' alt:'Comboios-de-Portugal-logo'%}</a>
      </div>
      <div class="narrow-logo">
        <a target="_blank" href="http://www.tub.pt">{% image sponsors/tub.png class:'center-block img-responsive partner' alt:'TUB-logo'%}</a>
      </div>
      <div class="wide-logo">
          <a target="_blank" href="http://hackathonners.org">{% image sponsors/hackathonners.png class:'center-block img-responsive partner' alt:'Hackathonners-logo'%}</a>
      </div>
    </div>
  </div>
</section>
