<section id="silver">
    <div class="container ">

        <div class="section-title-container">
          <h1 class="section-title">Silver Sponsor</h1>
        </div>

        <div class="row short-row">
                <div class="col-md-4 normal-logo vcenter">
                    <a target="_blank" href="https://blip.pt/"> {% image sponsors/blip-white.png class:'img-responsive' %} </a>
                </div><!--
             --><div class="col-md-4 big-logo vcenter">
                    <a target="_blank" href="https://eurotux.com"> {% image sponsors/eurotux-logo.png class:'img-responsive' %} </a>
                </div><!--
             --><div class="col-md-4 big-logo vcenter">
                    <a target="_blank" href="https://pt.primaverabss.com/pt/"> {% image sponsors/primavera.png class:'img-responsive' %} </a>
                </div><!--
             -->
        </div>
        <div class="row">
            <div class="col-md-4 normal-logo vcenter">
                <a target="_blank" href="http://www.smithmicro.com/"> {% image sponsors/smith-micro-white.png class:'hcenter img-responsive' %} </a>
            </div>
            <div class="col-md-4 normal-logo vcenter">
                <a target="_blank" href="https://home.kpmg.com/pt/en/home.html"> {% image sponsors/KPMG-white.png class:'hcenter img-responsive' %} </a>
            </div>
            <div class="col-md-4 normal-logo vcenter">
                <a target="_blank" href="https://www.talkdesk.com/"> {% image sponsors/talkdesk-white.png class:'hcenter img-responsive' %} </a>
            </div>
        </div>
    </div>
</section>
