<section id="agenda">
  <div class="container">
    <div class="section-title-container">
      <h1 class="section-title">Agenda</h1>
    </div>

    <div class="col-md-12">
      <div class="col-md-10 col-md-offset-1">
       <div class="col-md-12 agenda-carousel agenda-wrapper">


            {% for day in site.data.agenda %}
            <div class="col-sm-3 agenda-day">
              <h4 class="center-block agenda-date"> {{ day.date }}. <br><span>{{ day.dayOfWeek }}</span></h4>
              {% for act in day.activities %}
              {% if act.coffee %}
              <h5 class="agenda-coffee">
                  <span>COFFEE-BREAK</span>
              </h5>
              {% elsif act.meal %}
              <div class="agenda-meal"></div>
              {% elsif act.offset %}
              <div class="{{ act.offset }}"></div>
              {% elsif act.double %}
              <div class="agenda-double-activity">
                <div class="activity-left">
                  <div class="activity-time">{{ act.timeLeft }}</div>
                  <a href="#{{ act.nameLeft | slugify }}">
                    {% if act.tbaLeft %}
                    <div class="activity-tba-block {{ act.durationLeft }} text-left">
                    {% else %}
                    <div class="activity-block {{ act.durationLeft }} text-left">
                    {% endif %} 
                      <div class="activity-border"></div>
                      <div class="activity-name"><b>{{ act.nameLeft }}</b></div>
                      {% if (act.speakerLeft and act.speakerLeft2) %}
                      <div class="activity-speaker">{{ act.speakerLeft }}</div>
                      <div class="activity-speaker">{{ act.speakerLeft2 }}</div>
                      {% elsif act.speakerLeft %}
                      <div class="activity-speaker">{{ act.speakerLeft }}</div>
                      {% endif %}
                    </div>
                  </a>
                  <div class="activity-location">{{ act.placeLeft }}</div>
                </div>
                <div class="activity-right">
                  <div class="activity-time">{{ act.timeRight }}</div>
                  <a href="#{{ act.nameRight | slugify }}">
                    {% if act.tba %}
                    <div class="activity-tba-block {{ act.durationRight }} text-left">
                    {% else %}
                    <div class="activity-block {{ act.durationRight }} text-left">
                    {% endif %} 
                      <div class="activity-border"></div>
                      <div class="activity-name"><b>{{ act.nameRight }}</b></div>
                      {% if (act.speakerRight and act.enterpriseRight) %}
                      <div class="activity-speaker">{{ act.speakerRight }}</div>
                      {% else %}
                      <div class="activity-speaker">{{ act.speakerRight }}</div>
                      {% endif %}
                    </div>
                  </a>
                  <div class="activity-location">{{ act.placeRight }}</div>
                </div>
              </div>
              {% else %}
              <div class="agenda-activity">
                <div class="activity-time">{{ act.time }}</div>
                <a href="#{{ act.name | slugify }}">
                  {% if act.tba %}
                  <div class="activity-tba-block {{ act.duration }} text-left">
                  {% else %}
                  <div class="activity-block {{ act.duration }} text-left">
                  {% endif %} 
                    <div class="activity-border"></div>
                    <div class="activity-name"><b>{{ act.name }}</b></div>
                    {% if (act.speaker and act.speaker2 and act.speaker3 and act.speaker4) %}
                    <div class="activity-speaker">{{ act.speaker }} & {{ act.speaker2 }}</div>
                    <div class="activity-speaker2">{{ act.speaker3 }} & {{ act.speaker4 }}</div>
                    {% elsif (act.speaker and act.speaker2 and act.speaker3) %}
                    <div class="activity-speaker">{{ act.speaker }} & {{ act.speaker2 }} & {{ act.speaker3 }}</div>
                    {% elsif (act.speaker and act.speaker2) %}
                    <div class="activity-speaker">{{ act.speaker }}</div>
                    <div class="activity-speaker2">{{ act.speaker2 }}</div>
                    {% else %}
                    <div class="activity-speaker">{{ act.speaker }}</div>
                    {% endif %}
                  </div>
                </a>
                <div class="activity-location">{{ act.place }}</div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</section>
